



/*Main Style*/

body { background-color: #222222; margin-top: -60px;}
@font-face {font-family: 'MINIMALHARD2'; font-style: normal; font-weight: normal;src: local('MINIMALHARD2'), url('mh2__.woff') format('woff');}
#logo_type{top:20px; left:4%; z-index: 11; position: fixed;}
#logoSpread{font-family: "minimalhard2"; font-weight: bolder; font-size: 1.0vw; position: fixed; color: white; z-index: 3; top: 25px; padding: 0.1vw 2vw 0.1vw 0.1vw; opacity: 0; left: 6%; visibility: hidden; transition: all 0.2s ease-in; width:400px; }
#logo_type:hover #logoSpread {opacity: 1; left: 7%; visibility: visible; z-index: 11;}

#nav_menu{position: fixed; margin-top: 24px;}
#nav_menu {margin-left: 71%; z-index: 11;}
#nav_menu tr {color:white;}
#nav_menu tr th {font-family: "minimalhard2"; font-weight: lighter; font-size: 1.0vw; padding: 0.1vw 2vw 0.1vw 0.1vw; transition: all 0.2s ease-in;}
svg {top: 0px; position: fixed; z-index: 10; left:-8px;}

#nav_menu tr > #menu1:hover #sub-menu {opacity: 1; visibility: visible;}
#sub-menu {position: absolute; background: #333333; opacity: 0; visibility: hidden; transition: all 0.2s ease-in; font-family: "Noto Serif KR", serif; font-size: 15px;}
#sub-menu > li {padding: 20px 25px; border-bottom: 1px solid #444444;}
#sub-menu > li >  a {color: rgba(255,255,255,0.6); text-decoration: none;}

#menu1:hover {text-decoration: underline;}
#menu2:hover {text-decoration: underline;}
#menu3:hover {text-decoration: underline;}
#menu4:hover {text-decoration: underline;}






/* section */

section div {font-family: "Noto Serif KR", serif; text-align: left; position: relative; top: 46%; transform: translateY(-50%);}
h1 {font-size: 3vw; color: #cccccc; margin-top: 4vw;}
p {margin-top:-10%; font-size: 0.7vw; color: #cccccc; line-height: 2.0; width: 50vw;}




/*01*/

#introVideo{display: block; position:relative; margin:auto; top:1vw; width: 35vw; height: 22vw; animation: vd_ani 1.5s forwards; opacity: 0;}
@keyframes vd_ani {
  0%{opacity:0;}
  100%{opacity:1;}}




/*02*/

#aCt2_Picture{display: block; position:relative; margin:auto; top:1vw; width: 30.5vw; height: 22vw; animation: ct2_ani 1s 1.5s forwards; opacity: 0;}
@keyframes ct2_ani {
  0%{opacity:0;}
  100%{opacity:0.4;}}




/*03*/

#aCt3_Picture_1{left:22%; position:relative; margin:auto; top:0.5vw; width: 18vw; height: 22vw;}
  #aCt3_Picture_1:hover{transition:0.7s; top:0vw;}
#aCt3_contents_1{position:absolute; font-size: 0.8vw; color: #cccccc; text-decoration:none; margin-left:27%; top:23vw;}

#aCt3_Picture_2{left:23%; position:relative; margin:auto; top:0.5vw; width: 18vw; height: 22vw; opacity: 1;}
  #aCt3_Picture_2:hover{transition:0.7s; top:0vw;}
#aCt3_contents_2{position:absolute; font-size: 0.8vw; color: #cccccc; text-decoration:none; margin-left:45.5%; top:23vw;}

#aCt3_Picture_3{left:24%; position:relative; margin:auto; top:0.5vw; width: 18vw; height: 22vw; opacity: 1;}
  #aCt3_Picture_3:hover{transition:0.7s; top:0vw;}
#aCt3_contents_3{position:absolute; font-size: 0.8vw; color: #cccccc; text-decoration:none; margin-left:65.3%; top:23vw;}





/*04*/

#aCt4_pic{position:relative; left:39%; margin: 0px auto; top:0.5vw; width: 25vw; height: 22vw; animation: opc1 2s 2s forwards;}
  #aCt4_pic:hover{transition:0.7s; top:0vw;}
#aCt4_contents{position:absolute; font-size: 0.8vw; color: #cccccc; text-decoration:none; margin-left:48.5%; top:22vw;}
#footer{font-size:14px; width: 600px; color: #cccccc; height:60px; top:50px; display: block; margin:auto; position: relative; text-align: center;}
